{% if conversion_text is defined and conversion_text is not empty %}
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ conversion_text }}</div>
{% endif %}
<form action="{{ action }}" method="POST" class="form-horizontal" id="paytm_form_redirect">
	{% for k, v in paytm_fields %}
	<input type="hidden" name="{{ k }}" value="{{ v }}" />
	{% endfor %}
</form>
<div class="buttons">
	<div class="pull-right">
		<input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
	</div>
</div>

<script type="text/javascript"><!--
$('#button-confirm').bind('click', function() {
  $('#paytm_form_redirect').submit();
});
//--></script>